# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# VSCode settings
.vscode/

# Temporary uploads
uploads/

# Model files (optional, if too large)
*.h5

# Virtual environment
venv.bak/

# Other common ignores for Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/